<header
  class="w3-container w3-light-blue w3-center"
  style="padding: 128px 16px;"
>
  <fa-icon [icon]="faCloud"></fa-icon>
  <h1 class="w3-margin w3-jumbo">Hi! I'm Varun</h1>
  <p class="w3-xlarge">a front-end developer</p>
</header>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird responsive">
      <h1>What I can do</h1>
      <h5 class="w3-padding-16">
        Design what you want. Develop what you need.
      </h5>

      <p class="w3-text-grey">
        Developing interactive websites and making them awesome with animations
        since 2016.
      </p>
    </div>

    <div class="w3-third w3-center w3-padding-64">
      <img [src]="image" width="70" [@animate]="state" />
    </div>
  </div>
</div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-image responsive-image">
      <img
        src="assets/gif/profile2.gif"
        width="300"
        class="responsive-image-size"
      />
    </div>

    <div class="w3-twothird responsive">
      <h1>About me</h1>
      <h5 class="w3-padding-16">
        I'm based in Bengaluru, India.
      </h5>

      <p class="w3-text-grey">
        I like to keep it simple. My goals are to focus on content and conveying
        the message that you want to send. I create websites to run across
        devices using the latest technologies available.
      </p>
    </div>
  </div>
</div>

<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center w3-padding-64">
      <h1>Grapher</h1>
      <h5 class="w3-padding-16">
        A d3-based chart creater
      </h5>

      <p class="w3-text-grey">
        Grapher is a real time grapher which can handle upto 3 types of modes.
      </p>
    </div>

    <div class="w3-twothird responsive">
      <img
        src="assets/images/grapher.png"
        width="600px"
        style="border-bottom: 6px solid #ececec; margin-left: 50px;"
      />
    </div>
  </div>
</div>

<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird responsive">
      <img
        src="assets/images/grapher.png"
        width="600px"
        style="border-bottom: 6px solid #ececec; margin-left: 50px;"
      />
    </div>

    <div class="w3-third w3-image responsive-image">
      <h1>About me</h1>
      <h5 class="w3-padding-16">
        I'm based in Bengaluru, India.
      </h5>

      <p class="w3-text-grey">
        I like to keep it simple. My goals are to focus on content and conveying
        the message that you want to send. I create websites to run across
        devices using the latest technologies available.
      </p>
    </div>
  </div>
</div>

<div class="w3-container w3-padding-64">
  <div class="w3-half w3-center w3-image">
    <img src="assets/images/sunlux.png" width="150" />
  </div>
  <div class="w3-half w3-center w3-image">
    <img src="assets/images/d3view.png" width="200" />
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-16 w3-center w3-light-grey">
  <!-- <p>
    Contact me at
  </p> -->

  <div class="w3-xlarge w3-padding-32">
    <a href="mailto: varun.zark@yahoo.com" target="_blank">
      <fa-icon [icon]="faEnvelope"></fa-icon></a
    >&nbsp;
    <a href="skype:live:.cid.62f5af99a7f8d6b7?userinfo" target="_blank">
      <fa-icon [icon]="faSkype"></fa-icon></a
    >&nbsp;
    <a href="https://linkedin.com/in/avvarun" target="_blank">
      <fa-icon [icon]="faLinkedIn"></fa-icon></a
    >&nbsp;
  </div>
</footer>
<!-- <router-outlet></router-outlet> -->
