@media (max-width: 600px)
    .responsive 
        text-align: center
    .responsive-image
        text-align: center


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
    .responsive
        text-align: center
    .responsive-image
        text-align: center
    .w3-twothird
        width: 100%
    .w3-third
        width: 100%
        


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
    .responsive 
        text-align: center
    .responsive-image
        text-align: center
    .w3-twothird
        width: 100%
    .w3-third
        width: 100%


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
    .responsive 
        text-align: left
    .responsive-image
        text-align: left
    .w3-twothird
        width: 66.6666%
    .w3-third
        width: 33.3333%
        


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)
    .responsive
        text-align: left
    .responsive-image
        text-align: left
    .w3-twothird
        width: 66.6666%
    .w3-third
        width: 33.3333%

div > fa-icon:hover
    cursor: pointer