.main-container
    width: 100%
    height: 100vh
    padding: 100px

.footer-container
    width: 100%
    height: 100px

.center
    display: flex
    justify-content: center
    align-items: center
    text-align: center

.bg-grey
    background-color: lightgrey
    color: white

.bg-cyan
    background-color: lightcyan
    color: black

.circle1
    position: absolute
    left: 150px
    top: 150px
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.4))

.circle2
    position: absolute
    left: 200px
    top: 100px
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.4))

.circle3
    position: absolute
    left: 600px
    top: 120px
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.4))

.brand-content
    position: absolute
    left: 900px
    top: 300px
    font-size: 75px
    text-align: center
    font-family: sans-serif
    filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.4))

.divide
    width: 100%
    height: 100%

.two-third
    width: 66.6666%
    height: 100%

.one-third
    width: 33.3333%
    height: 100%

.column
    width: 100%
    height: 100%
    flex-direction: column

.padding-20
    padding: 20px

.half
    width: 50%
    height: 100%
